<h1>TWEEEEEETTTTEERRR</h1>
<h2>An App For People</h2>

<p>Here is a place where you can type in a Twitter username and this app will show you some of that person's or robot's recent tweets:</p>

<form method="GET" action="/tweets">
  <input type="text" placeholder="twitter username here" name="username">
  <input type="submit" value="Retreive Some Tweets">
</form>

<div class="found_tweets">
</div>