<h2>Some tweets by <%= @user.username %>:</h2>

<ul class="tweets">
  <% @tweets.each do |tweet| %>
    <li><%= tweet.tweet %></li>
  <% end %>
</ul>

<p><em>Tweets last pulled at <%= @user.tweets_last_pulled.strftime("%H:%M on %Y/%m/%d")%></em></p>